PORT=8787
JWT_SECRET=change-this-to-a-long-random-string
DB_ENCRYPTION_KEY=YourSecretPasswordHere
CLIENT_ORIGIN=http://localhost:5173
DB_PATH=./data/live-translate.db

AZURE_TRANSLATOR_KEY=your_azure_translator_key_here
AZURE_TRANSLATOR_REGION=centralindia
AZURE_SPEECH_KEY=your_azure_speech_key_here
AZURE_SPEECH_REGION=centralindia
